{% extends 'main.html'%}

{% block crud_container %}
<section class = "container-flued">
    <form method = "POST" action="/"></form>
</section>
    {% if user %}
        <article class="card container fluid"></article>
        <br>
        <h2> ID: {{user.id}}</h2>
        <p>
            <strong>Username: {{ user.username }}</strong><br>
            <strong>Age: {{ user.age }}</strong>
        </p>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {%for user in user_list %}
                        <li>
                            {{user.id}} - <a href="/user/{{user.id}}">{{user.username}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
